{% extends 'base.html.twig' %}

{% block title %}Créer Enfant{% endblock %}

{% block body %}
	<h1>Creer un nouveau Enfant</h1>
	{{ include('@EltharinCommonAssets/basic_form.html.twig') }}
{% endblock %}
